<style>
    .footer {
        position:fixed;
        bottom: 0;
        left: 0;
        right: 0;
        height: 25px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #dce2e9;
        color: #08223a;
        font-weight: 600;
    }

    footer {
        display: flex;
        align-items: center;
        line-height: 20px;
    }

</style>

<div class="footer" role="banner">
    <!-- Footer -->
    <footer>
        You want to learn about the code ? Find it on&nbsp;
        <a href="https://github.com/Meven-K/website" target="_blank" rel="noopener"> GIT </a>
    </footer>
</div>