<div class="container">


    <div class="row">
        <div class="column" style="align-items: center; justify-content: center; display: flex; flex-direction: column; width: 400px;">
            <span class="badge"><h3>Welcome to projects page</h3></span>
        </div>
        <div class="column" style="width: 60%;">
            <h4>
                On this page you will find everything about the prodjects on worked on, starting by this website. <br>
                To see more about any project, just click on it.
            </h4>
        </div>
      </div>

    <br>

    <!-- width and height are set just to show you it actually works-->
    <canvas #canvas id="canvas"></canvas>

    <div class="row" style="height: 20px;">
    <h4><br><br></h4>
    </div>
</div>