<style>
    .spacer {
        flex: 1;
    }

    .toolbar {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 60px;
        display: flex;
        align-items: center;
        background-color: #08223a;
        color: white;
        font-weight: 600;
    }

    .toolbar img {
        margin: 0 16px;
    }

    .png-icon{
        margin: 5px auto auto;
        padding: 0;
        display: inline-block;
        background-repeat: no-repeat no-repeat;
        pointer-events: none;
    }

    .get-space{
      margin: 0 10px;
    }

    .button {
      background-color: #08223a; /* Green */
      border: none;
      color: white;
      margin: 0 10px;
      padding: 4px 10px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
    }

    .button {
      transition-duration: 0.1s;
    }

    .button:hover {
      background-color: #dce2e9;
      color: #08223a;
    }

</style>

<div class="toolbar" role="banner">
    <img
      width="40"
      alt="M Logo"
      src="assets/M.png"
    />
  
    <span>Welcome to Meven Kerzreho website.</span>
    <a class="get-space"></a>

    <a routerLink="/">
      <span class="button">HOME</span>
    </a>

    <a routerLink="/cv">
      <span class="button">CV</span>
    </a>

    <a routerLink="/projects">
      <span class="button">PROJECTS</span>
    </a>
  
    <div class="spacer"></div>
    
    <a aria-label="Meven on linkedin" target="_blank" rel="noopener" href="https://www.linkedin.com/in/meven-kerzreho-b5724b185/" title="Linkedin">
      <img class="png-icon" src="assets/Linkedin-logo.png" style="height: 20px;">
    </a>
    
    <a aria-label="Meven on Facebook" target="_blank" rel="noopener" href="https://www.facebook.com/mev.kerz/" title="Linkedin">
      <img class="png-icon" src="assets/Facebook-logo.png" style="height: 32px;">
    </a>
</div>
  